### Installing Packages

In [296]:
import pandas as pd
import numpy as np
import sys
from datetime import datetime
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Reading taxi data after pre-processing

In [2]:
data = pd.read_csv("taxi.csv")

/var/folders/q6/t8qqpsn93h95rbj4pdrr_6l00000gn/T/ipykernel_52196/878286795.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("taxi.csv")

In [3]:
data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume
0,0,2022-11-01 00:10:31,2022-11-01 00:17:28,61,61,1.040,7.91,N,N,1
1,1,2022-11-01 00:46:33,2022-11-01 00:58:18,209,79,2.070,14.48,N,N,1
2,2,2022-11-01 00:19:16,2022-11-01 00:46:19,181,170,8.270,27.37,N,N,1
3,3,2022-11-01 00:50:18,2022-11-01 01:08:10,107,80,5.020,26.74,N,N,1
4,4,2022-11-01 00:01:41,2022-11-01 00:20:33,41,241,6.322,22.34,N,N,1

In [298]:
data.columns

Index(['Unnamed: 0', 'pickup_datetime', 'dropoff_datetime', 'PULocationID',
       'DOLocationID', 'trip_miles', 'base_passenger_fare',
       'shared_request_flag', 'shared_match_flag', 'highvolume', 'LocationID',
       'PUBorough', 'PUZone', 'PUservice_zone', 'hour', 'day', 'month'],
      dtype='object')

In [4]:
data.shape

(21338613, 10)

### Reading the location. look up data

In [5]:
data_loc = pd.read_csv("taxi+_zone_lookup.csv")

In [6]:
data = pd.merge(data,data_loc , left_on = 'PULocationID', right_on = 'LocationID', how = 'inner')

In [8]:
data = data.rename(columns= {'Borough':'PUBorough','Zone':'PUZone','service_zone':'PUservice_zone'})

In [9]:
data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone
0,0,2022-11-01 00:10:31,2022-11-01 00:17:28,61,61,1.040,7.91,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone
1,10,2022-11-01 00:33:47,2022-11-01 00:44:08,61,35,2.350,13.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone
2,220,2022-11-01 00:22:09,2022-11-01 00:33:42,61,225,1.655,8.92,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone
3,236,2022-11-01 00:08:07,2022-11-01 00:36:53,61,219,10.410,33.90,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone
4,249,2022-11-01 00:00:35,2022-11-01 00:03:16,61,17,0.515,7.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone

data.dtypes

In [12]:
data['pickup_datetime'] =  pd.to_datetime(data['pickup_datetime'])

In [331]:
data['dropoff_datetime'] =  pd.to_datetime(data['dropoff_datetime'])

In [13]:
data['hour'] =data['pickup_datetime'].dt.hour

In [14]:
data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour
0,0,2022-11-01 00:10:31,2022-11-01 00:17:28,61,61,1.040,7.91,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0
1,10,2022-11-01 00:33:47,2022-11-01 00:44:08,61,35,2.350,13.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0
2,220,2022-11-01 00:22:09,2022-11-01 00:33:42,61,225,1.655,8.92,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0
3,236,2022-11-01 00:08:07,2022-11-01 00:36:53,61,219,10.410,33.90,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0
4,249,2022-11-01 00:00:35,2022-11-01 00:03:16,61,17,0.515,7.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0

In [15]:
data.hour.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [19]:
data['day'] = data['pickup_datetime'].dt.weekday

In [20]:
data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day
0,0,2022-11-01 00:10:31,2022-11-01 00:17:28,61,61,1.040,7.91,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1
1,10,2022-11-01 00:33:47,2022-11-01 00:44:08,61,35,2.350,13.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1
2,220,2022-11-01 00:22:09,2022-11-01 00:33:42,61,225,1.655,8.92,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1
3,236,2022-11-01 00:08:07,2022-11-01 00:36:53,61,219,10.410,33.90,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1
4,249,2022-11-01 00:00:35,2022-11-01 00:03:16,61,17,0.515,7.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1

In [22]:
data.day.unique()

array([1, 2, 3, 4, 5, 6, 0])

In [23]:
data['month'] = data['pickup_datetime'].dt.month

In [24]:
data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
0,0,2022-11-01 00:10:31,2022-11-01 00:17:28,61,61,1.040,7.91,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1,11
1,10,2022-11-01 00:33:47,2022-11-01 00:44:08,61,35,2.350,13.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1,11
2,220,2022-11-01 00:22:09,2022-11-01 00:33:42,61,225,1.655,8.92,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1,11
3,236,2022-11-01 00:08:07,2022-11-01 00:36:53,61,219,10.410,33.90,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1,11
4,249,2022-11-01 00:00:35,2022-11-01 00:03:16,61,17,0.515,7.00,N,N,1,61,Brooklyn,Crown Heights North,Boro Zone,0,1,11

In [27]:
data['PUBorough'].unique()

array(['Brooklyn', 'Manhattan', 'Bronx', 'Queens', 'Staten Island',
       'Unknown', 'EWR'], dtype=object)

In [29]:
data[data['PUBorough']=='Unknown']

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
21279024,53658,2022-11-01 04:22:05,2022-11-01 04:33:34,265,220,3.623,18.12,N,N,1,265,Unknown,NaN,NaN,4,1,11
21279025,62880,2022-11-01 05:27:32,2022-11-01 05:50:15,265,138,12.860,36.53,N,N,1,265,Unknown,NaN,NaN,5,1,11
21279026,82287,2022-11-01 06:30:27,2022-11-01 06:36:09,265,191,1.380,7.19,N,N,1,265,Unknown,NaN,NaN,6,1,11
21279027,85348,2022-11-01 07:53:36,2022-11-01 08:56:52,265,75,11.055,53.97,N,N,1,265,Unknown,NaN,NaN,7,1,11
21279028,116248,2022-11-01 08:13:58,2022-11-01 08:25:19,265,174,2.500,14.29,N,N,1,265,Unknown,NaN,NaN,8,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21338608,3252013,2022-11-30 20:50:16,2022-11-30 21:01:08,264,100,1.290,11.92,NaN,NaN,0,264,Unknown,NV,NaN,20,2,11
21338609,3252227,2022-11-30 21:46:15,2022-11-30 22:03:16,264,88,5.550,23.02,NaN,NaN,0,264,Unknown,NV,NaN,21,2,11
21338610,3252285,2022-11-30 22:24:08,2022-11-30 22:36:26,264,87,2.820,16.75,NaN,NaN,0,264,Unknown,NV,NaN,22,2,11
21338611,3252478,2022-11-30 22:54:28,2022-11-30 23:04:33,264,79,1.760,13.27,NaN,NaN,0,264,Unknown,NV,NaN,22,2,11
21338612,3252568,2022-11-30 23:05:20,2022-11-30 23:25:07,264,140,3.220,19.46,NaN,NaN,0,264,Unknown,NV,NaN,23,2,11

In [30]:
data = data[data['PUBorough']!='Unknown']

In [31]:
data['PUBorough'].unique()

array(['Brooklyn', 'Manhattan', 'Bronx', 'Queens', 'Staten Island', 'EWR'],
      dtype=object)

In [33]:
data.shape

(21284069, 17)

In [247]:
total_rides_borough = pd.DataFrame(data.groupby(['highvolume','PUBorough'])['pickup_datetime'].count()).reset_index().rename(columns= {'pickup_datetime':'total rides'})

In [248]:
total_rides_borough.to_csv('total_rides_borough.csv')

In [32]:
data.to_csv("Dataviz_data_1.csv")

### Distribution of yellow cabs and FHV in Nov 2022

In [243]:
fhv_yllow_dist= pd.DataFrame(data.groupby('highvolume')['pickup_datetime'].count()*100/data['pickup_datetime'].count()).reset_index()

In [58]:
fhv_yllow_dist

   highvolume  pickup_datetime
0           0        15.030331
1           1        84.969669

#### Filtering for manhattan

In [333]:
data_manhattan = data[data['PUBorough']=='Manhattan']

In [209]:
data_manhattan.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
232975,1,2022-11-01 00:46:33,2022-11-01 00:58:18,209,79,2.07,14.48,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232976,422,2022-11-01 00:56:16,2022-11-01 01:06:09,209,13,0.91,9.55,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232977,484,2022-11-01 00:40:06,2022-11-01 00:53:16,209,249,2.36,26.92,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232978,489,2022-11-01 00:19:58,2022-11-01 00:39:58,209,50,4.33,21.12,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232979,872,2022-11-01 00:12:16,2022-11-01 00:25:28,209,148,1.61,16.10,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11

In [210]:
data_manhattan.columns

Index(['Unnamed: 0', 'pickup_datetime', 'dropoff_datetime', 'PULocationID',
       'DOLocationID', 'trip_miles', 'base_passenger_fare',
       'shared_request_flag', 'shared_match_flag', 'highvolume', 'LocationID',
       'PUBorough', 'PUZone', 'PUservice_zone', 'hour', 'day', 'month'],
      dtype='object')

#### Finding the number of zones in manhattan

In [ ]:
data_manhattan['PUZone'].nunique()

### Sum of fare across zones in manhattan

In [250]:
data_manhattan_fare_comp = pd.DataFrame(data_manhattan.groupby(['PUZone','hour','highvolume'])['base_passenger_fare'].sum())

In [251]:
data_manhattan_fare_comp.reset_index()

                                             PUZone  hour  highvolume  \
0                                     Alphabet City     0           0
1                                     Alphabet City     0           1
2                                     Alphabet City     1           0
3                                     Alphabet City     1           1
4                                     Alphabet City     2           0
5                                     Alphabet City     2           1
6                                     Alphabet City     3           0
7                                     Alphabet City     3           1
8                                     Alphabet City     4           0
9                                     Alphabet City     4           1
10                                    Alphabet City     5           0
11                                    Alphabet City     5           1
12                                    Alphabet City     6           0
13                                    Alphabet City     6           1
14                                    Alphabet City     7           0
15                                    Alphabet City     7           1
16                                    Alphabet City     8           0
17                                    Alphabet City     8           1
18                                    Alphabet City     9           0
19                                    Alphabet City     9           1
20                                    Alphabet City    10           0
21                                    Alphabet City    10           1
22                                    Alphabet City    11           0
23                                    Alphabet City    11           1
24                                    Alphabet City    12           0
25                                    Alphabet City    12           1
26                                    Alphabet City    13           0
27                                    Alphabet City    13           1
28                                    Alphabet City    14           0
29                                    Alphabet City    14           1
30                                    Alphabet City    15           0
31                                    Alphabet City    15           1
32                                    Alphabet City    16           0
33                                    Alphabet City    16           1
34                                    Alphabet City    17           0
35                                    Alphabet City    17           1
36                                    Alphabet City    18           0
37                                    Alphabet City    18           1
38                                    Alphabet City    19           0
39                                    Alphabet City    19           1
40                                    Alphabet City    20           0
41                                    Alphabet City    20           1
42                                    Alphabet City    21           0
43                                    Alphabet City    21           1
44                                    Alphabet City    22           0
45                                    Alphabet City    22           1
46                                    Alphabet City    23           0
47                                    Alphabet City    23           1
48                                     Battery Park     0           0
49                                     Battery Park     0           1
50                                     Battery Park     1           0
51                                     Battery Park     1           1
52                                     Battery Park     2           0
53                                     Battery Park     2           1
54                                     Battery Park     3           1
55                                     Battery Park     4           0
56                                     Battery Park     4           1
57                                     Battery Park     5           0
58                                     Battery Park     5           1
59                                     Battery Park     6           0
60                                     Battery Park     6           1
61                                     Battery Park     7           0
62                                     Battery Park     7           1
63                                     Battery Park     8           0
64                                     Battery Park     8           1
65                                     Battery Park     9           0
66                                     Battery Park     9           1
67                                     Battery Park    10           0
68                                     Battery Park    10           1
69                                     Battery Park    11           0
70                                     Battery Park    11           1
71                                     Battery Park    12           0
72                                     Battery Park    12           1
73                                     Battery Park    13           0
74                                     Battery Park    13           1
75                                     Battery Park    14           0
76                                     Battery Park    14           1
77                                     Battery Park    15           0
78                                     Battery Park    15           1
79                                     Battery Park    16           0
80                                     Battery Park    16           1
81                                     Battery Park    17           0
82                                     Battery Park    17           1
83                                     Battery Park    18           0
84                                     Battery Park    18           1
85                                     Battery Park    19           0
86                                     Battery Park    19           1
87                                     Battery Park    20           0
88                                     Battery Park    20           1
89                                     Battery Park    21           0
90                                     Battery Park    21           1
91                                     Battery Park    22           0
92                                     Battery Park    22           1
93                                     Battery Park    23           0
94                                     Battery Park    23           1
95                                Battery Park City     0           0
96                                Battery Park City     0           1
97                                Battery Park City     1           0
98                                Battery Park City     1           1
99                                Battery Park City     2           0
100                               Battery Park City     2           1
101                               Battery Park City     3           0
102                               Battery Park City     3           1
103                               Battery Park City     4           0
104                               Battery Park City     4           1
105                               Battery Park City     5           0
106                               Battery Park City     5           1
107                               Battery Park City     6           0
108                               Battery Park City     6           1
109                               Battery Park City     7           0
110                               Battery Park City     7           1
111                               Battery Park City     8           0
112                               Battery Park City     8           1
113                               Battery Park City     9           0
114                               Battery Park City     9           1
115                               Battery Park City    10           0
116                               Battery Park City    10           1
117                               Battery Park City    11           0
118                               Battery Park City    11           1
119                               Battery Park City    12           0
120                               Battery Park City    12           1
121                               Battery Park City    13           0
122                               Battery Park City    13           1
123                               Battery Park City    14           0
124                               Battery Park City    14           1
125                               Battery Park City    15           0
126                               Battery Park City    15           1
127                               Battery Park City    16           0
128                               Battery Park City    16           1
129                               Battery Park City    17           0
130                               Battery Park City    17           1
131                               Battery Park City    18           0
132                               Battery Park City    18           1
133                               Battery Park City    19           0
134                               Battery Park City    19           1
135                               Battery Park City    20           0

In [252]:
data_manhattan_fare_comp.to_csv('data_manhattan_fare_comp.csv')

#### Finding the top locations and top hours for values for 0 and 1 based on percentange of trips out of the total trips

In [289]:
perc_yell_fhv_data_hour_zone = pd.DataFrame(data_manhattan.groupby(['PUZone','hour','highvolume'])['pickup_datetime'].count()/data_manhattan.groupby(['PUZone','hour'])['pickup_datetime'].count()).reset_index()

In [290]:
perc_yell_fhv_data_hour_zone.rename(columns = {'pickup_datetime':'Perc'},inplace=True)

In [291]:
perc_yell_fhv_data_hour_zone.groupby('highvolume')['Perc'].max()

highvolume
0    0.727032
1    1.000000
Name: Perc, dtype: float64

In [292]:
perc_yell_fhv_data_hour_zone[perc_yell_fhv_data_hour_zone['highvolume']==0].sort_values(by = 'Perc', ascending= False)

                              PUZone  hour  highvolume      Perc
309                     Central Park    11           0  0.727032
307                     Central Park    10           0  0.723365
305                     Central Park     9           0  0.704458
311                     Central Park    12           0  0.698623
323                     Central Park    18           0  0.681801
313                     Central Park    13           0  0.678892
315                     Central Park    14           0  0.675846
325                     Central Park    19           0  0.671239
317                     Central Park    15           0  0.670456
327                     Central Park    20           0  0.657083
319                     Central Park    16           0  0.647882
303                     Central Park     8           0  0.644355
2046    Penn Station/Madison Sq West     6           0  0.640000
321                     Central Park    17           0  0.637882
329                     Central Park    21           0  0.618202
301                     Central Park     7           0  0.616753
331                     Central Park    22           0  0.608609
2048    Penn Station/Madison Sq West     7           0  0.572038
333                     Central Park    23           0  0.569836
2630           Upper East Side North    11           0  0.565194
2632           Upper East Side North    12           0  0.562795
2628           Upper East Side North    10           0  0.558903
827                 Garment District     6           0  0.553342
2636           Upper East Side North    14           0  0.550338
2634           Upper East Side North    13           0  0.547878
2638           Upper East Side North    15           0  0.545086
2678           Upper East Side South    11           0  0.541463
299                     Central Park     6           0  0.537361
2676           Upper East Side South    10           0  0.536844
2684           Upper East Side South    14           0  0.536724
2680           Upper East Side South    12           0  0.533231
2682           Upper East Side South    13           0  0.530382
2686           Upper East Side South    15           0  0.524810
2626           Upper East Side North     9           0  0.524246
2640           Upper East Side North    16           0  0.512049
1808                    Midtown East     7           0  0.510870
287                     Central Park     0           0  0.507678
65                      Battery Park     9           0  0.507463
2782           Upper West Side South    15           0  0.507030
2054    Penn Station/Madison Sq West    10           0  0.505772
2674           Upper East Side South     9           0  0.504431
2688           Upper East Side South    16           0  0.504414
1400             Lincoln Square East    15           0  0.504356
1412             Lincoln Square East    21           0  0.501302
825                 Garment District     5           0  0.498403
2780           Upper West Side South    14           0  0.497135
2778           Upper West Side South    13           0  0.493852
1398             Lincoln Square East    14           0  0.492229
1814                    Midtown East    10           0  0.491929
2642           Upper East Side North    17           0  0.490873
2056    Penn Station/Madison Sq West    11           0  0.489322
1396             Lincoln Square East    13           0  0.488252
2776           Upper West Side South    12           0  0.486813
1402             Lincoln Square East    16           0  0.486590
2774           Upper West Side South    11           0  0.486503
1812                    Midtown East     9           0  0.486437
2690           Upper East Side South    17           0  0.485391
2044    Penn Station/Madison Sq West     5           0  0.483871
1404             Lincoln Square East    17           0  0.483264
2784           Upper West Side South    16           0  0.481787
1816                    Midtown East    11           0  0.480096
2052    Penn Station/Madison Sq West     9           0  0.475786
2672           Upper East Side South     8           0  0.475638
2050    Penn Station/Madison Sq West     8           0  0.473871
2644           Upper East Side North    18           0  0.473607
2698           Upper East Side South    21           0  0.472722
1414             Lincoln Square East    22           0  0.471929
2732           Upper West Side North    14           0  0.471740
1394             Lincoln Square East    12           0  0.470536
1764                  Midtown Center     9           0  0.470264
289                     Central Park     1           0  0.469432
1410             Lincoln Square East    20           0  0.469374
2624           Upper East Side North     8           0  0.468808
1818                    Midtown East    12           0  0.467161
3116                  Yorkville West    14           0  0.466596
1822                    Midtown East    14           0  0.465449
2730           Upper West Side North    13           0  0.464955
2692           Upper East Side South    18           0  0.464037
1392             Lincoln Square East    11           0  0.463962
1766                  Midtown Center    10           0  0.463411
3064                  Yorkville East    12           0  0.462932
1406             Lincoln Square East    18           0  0.462463
829                 Garment District     7           0  0.460878
3062                  Yorkville East    11           0  0.460163
1810                    Midtown East     8           0  0.460097
2772           Upper West Side South    10           0  0.460053
1762                  Midtown Center     8           0  0.458613
3118                  Yorkville West    15           0  0.458598
3066                  Yorkville East    13           0  0.457960
2696           Upper East Side South    20           0  0.457665
2734           Upper West Side North    15           0  0.457275
1348                 Lenox Hill West    13           0  0.456813
3114                  Yorkville West    13           0  0.456784
1820                    Midtown East    13           0  0.455339
1352                 Lenox Hill West    15           0  0.454927
1344                 Lenox Hill West    11           0  0.454810
1350                 Lenox Hill West    14           0  0.454784
2062    Penn Station/Madison Sq West    14           0  0.454456
2786           Upper West Side South    17           0  0.454243
3110                  Yorkville West    11           0  0.454080
2728           Upper West Side North    12           0  0.453751
2694           Upper East Side South    19           0  0.453360
1806                    Midtown East     6           0  0.453184
2060    Penn Station/Madison Sq West    13           0  0.452579
2738           Upper West Side North    17           0  0.452334
2622           Upper East Side North     7           0  0.451967
2058    Penn Station/Madison Sq West    12           0  0.451807
2788           Upper West Side South    18           0  0.451562
3112                  Yorkville West    12           0  0.451544
3068                  Yorkville East    14           0  0.451486
1774                  Midtown Center    14           0  0.450695
1824                    Midtown East    15           0  0.450066
1772                  Midtown Center    13           0  0.449570
1390             Lincoln Square East    10           0  0.449534
1346                 Lenox Hill West    12           0  0.449245
1768                  Midtown Center    11           0  0.448775
1770                  Midtown Center    12           0  0.448428
1298                 Lenox Hill East    12           0  0.448296
2736           Upper West Side North    16           0  0.448177
1342                 Lenox Hill West    10           0  0.448168
2646           Upper East Side North    19           0  0.448021
1408             Lincoln Square East    19           0  0.447897
2670           Upper East Side South     7           0  0.447183
3060                  Yorkville East    10           0  0.446866
1760                  Midtown Center     7           0  0.445141
57                      Battery Park     5           0  0.444444
2726           Upper West Side North    11           0  0.441436
1294                 Lenox Hill East    10           0  0.439796
2064    Penn Station/Madison Sq West    15           0  0.438198
2648           Upper East Side North    20           0  0.437431
2700           Upper East Side South    22           0  0.437196
1354                 Lenox Hill West    16           0  0.436798
2344   Sutton Place/Turtle Bay North    12           0  0.436555
3108                  Yorkville West    10           0  0.436190
3120                  Yorkville West    16           0  0.435433
2342   Sutton Place/Turtle Bay North    11           0  0.433267
2346   Sutton Place/Turtle Bay North    13           0  0.431575
1302                 Lenox Hill East    14           0  0.430539
2340   Sutton Place/Turtle Bay North    10           0  0.430521
1296                 Lenox Hill East    11           0  0.430464
3070                  Yorkville East    15           0  0.428095
1776                  Midtown Center    15           0  0.427515
2724           Upper West Side North    10           0  0.427344
2790           Upper West Side South    19           0  0.426743
1586                Manhattan Valley    12           0  0.423867
3122                  Yorkville West    17           0  0.423710
1300                 Lenox Hill East    13           0  0.423211
2348   Sutton Place/Turtle Bay North    14           0  0.423055
2650           Upper East Side North    21           0  0.421946
2006                     Murray Hill    10           0  0.420404
2066    Penn Station/Madison Sq West    16           0  0.419338
2794           Upper West Side South    21           0  0.418483
2792           Upper West Side South    20           0

In [ ]:
tot_zone = perc_yell_fhv_data_hour_zone[]

In [294]:
perc_yell_fhv_data_hour_zone[perc_yell_fhv_data_hour_zone['highvolume']==0]

                              PUZone  hour  highvolume      Perc
0                      Alphabet City     0           0  0.088175
2                      Alphabet City     1           0  0.123609
4                      Alphabet City     2           0  0.125260
6                      Alphabet City     3           0  0.108479
8                      Alphabet City     4           0  0.053643
10                     Alphabet City     5           0  0.019879
12                     Alphabet City     6           0  0.026345
14                     Alphabet City     7           0  0.043947
16                     Alphabet City     8           0  0.050783
18                     Alphabet City     9           0  0.046600
20                     Alphabet City    10           0  0.040133
22                     Alphabet City    11           0  0.039159
24                     Alphabet City    12           0  0.044625
26                     Alphabet City    13           0  0.043078
28                     Alphabet City    14           0  0.049007
30                     Alphabet City    15           0  0.058504
32                     Alphabet City    16           0  0.047806
34                     Alphabet City    17           0  0.054194
36                     Alphabet City    18           0  0.050158
38                     Alphabet City    19           0  0.041441
40                     Alphabet City    20           0  0.039826
42                     Alphabet City    21           0  0.049518
44                     Alphabet City    22           0  0.055120
46                     Alphabet City    23           0  0.079918
48                      Battery Park     0           0  0.083333
50                      Battery Park     1           0  0.100000
52                      Battery Park     2           0  0.222222
55                      Battery Park     4           0  0.285714
57                      Battery Park     5           0  0.444444
59                      Battery Park     6           0  0.166667
61                      Battery Park     7           0  0.300000
63                      Battery Park     8           0  0.355556
65                      Battery Park     9           0  0.507463
67                      Battery Park    10           0  0.371134
69                      Battery Park    11           0  0.376744
71                      Battery Park    12           0  0.361963
73                      Battery Park    13           0  0.351695
75                      Battery Park    14           0  0.354978
77                      Battery Park    15           0  0.307393
79                      Battery Park    16           0  0.264501
81                      Battery Park    17           0  0.216561
83                      Battery Park    18           0  0.244094
85                      Battery Park    19           0  0.295918
87                      Battery Park    20           0  0.349398
89                      Battery Park    21           0  0.195876
91                      Battery Park    22           0  0.146667
93                      Battery Park    23           0  0.187500
95                 Battery Park City     0           0  0.044290
97                 Battery Park City     1           0  0.042517
99                 Battery Park City     2           0  0.021739
101                Battery Park City     3           0  0.027397
103                Battery Park City     4           0  0.044822
105                Battery Park City     5           0  0.060888
107                Battery Park City     6           0  0.123038
109                Battery Park City     7           0  0.175948
111                Battery Park City     8           0  0.216732
113                Battery Park City     9           0  0.226676
115                Battery Park City    10           0  0.235512
117                Battery Park City    11           0  0.232525
119                Battery Park City    12           0  0.239393
121                Battery Park City    13           0  0.240751
123                Battery Park City    14           0  0.248697
125                Battery Park City    15           0  0.238369
127                Battery Park City    16           0  0.207608
129                Battery Park City    17           0  0.171829
131                Battery Park City    18           0  0.170250
133                Battery Park City    19           0  0.156987
135                Battery Park City    20           0  0.118339
137                Battery Park City    21           0  0.080916
139                Battery Park City    22           0  0.080191
141                Battery Park City    23           0  0.066447
143                     Bloomingdale     0           0  0.123288
145                     Bloomingdale     1           0  0.065963
147                     Bloomingdale     2           0  0.065177
149                     Bloomingdale     3           0  0.043956
151                     Bloomingdale     4           0  0.083135
153                     Bloomingdale     5           0  0.107029
155                     Bloomingdale     6           0  0.235893
157                     Bloomingdale     7           0  0.358268
159                     Bloomingdale     8           0  0.306863
161                     Bloomingdale     9           0  0.326718
163                     Bloomingdale    10           0  0.330574
165                     Bloomingdale    11           0  0.316602
167                     Bloomingdale    12           0  0.326805
169                     Bloomingdale    13           0  0.335183
171                     Bloomingdale    14           0  0.353552
173                     Bloomingdale    15           0  0.347733
175                     Bloomingdale    16           0  0.307386
177                     Bloomingdale    17           0  0.308677
179                     Bloomingdale    18           0  0.291024
181                     Bloomingdale    19           0  0.239748
183                     Bloomingdale    20           0  0.223844
185                     Bloomingdale    21           0  0.198046
187                     Bloomingdale    22           0  0.185112
189                     Bloomingdale    23           0  0.163052
191                   Central Harlem     0           0  0.037561
193                   Central Harlem     1           0  0.033832
195                   Central Harlem     2           0  0.034405
197                   Central Harlem     3           0  0.028127
199                   Central Harlem     4           0  0.043140
201                   Central Harlem     5           0  0.044424
203                   Central Harlem     6           0  0.061939
205                   Central Harlem     7           0  0.114757
207                   Central Harlem     8           0  0.092631
209                   Central Harlem     9           0  0.085846
211                   Central Harlem    10           0  0.083669
213                   Central Harlem    11           0  0.085314
215                   Central Harlem    12           0  0.081915
217                   Central Harlem    13           0  0.087171
219                   Central Harlem    14           0  0.086775
221                   Central Harlem    15           0  0.081567
223                   Central Harlem    16           0  0.078443
225                   Central Harlem    17           0  0.077338
227                   Central Harlem    18           0  0.070934
229                   Central Harlem    19           0  0.057873
231                   Central Harlem    20           0  0.052389
233                   Central Harlem    21           0  0.042312
235                   Central Harlem    22           0  0.042963
237                   Central Harlem    23           0  0.041563
239             Central Harlem North     0           0  0.010980
241             Central Harlem North     1           0  0.012332
243             Central Harlem North     2           0  0.008824
245             Central Harlem North     3           0  0.014096
247             Central Harlem North     4           0  0.016827
249             Central Harlem North     5           0  0.015419
251             Central Harlem North     6           0  0.016191
253             Central Harlem North     7           0  0.025184
255             Central Harlem North     8           0  0.021776
257             Central Harlem North     9           0  0.019561
259             Central Harlem North    10           0  0.018332
261             Central Harlem North    11           0  0.019408
263             Central Harlem North    12           0  0.025456
265             Central Harlem North    13           0  0.020869
267             Central Harlem North    14           0  0.023343
269             Central Harlem North    15           0  0.019226
271             Central Harlem North    16           0  0.020895
273             Central Harlem North    17           0  0.019150
275             Central Harlem North    18           0  0.018112
277             Central Harlem North    19           0  0.014008
279             Central Harlem North    20           0  0.011721
281             Central Harlem North    21           0  0.013600
283             Central Harlem North    22           0  0.012237
285             Central Harlem North    23           0  0.011701
287                     Central Park     0           0  0.507678
289                     Central Park     1           0  0.469432
291                     Central Park     2           0  0.300000
293                     Central Park     3           0  0.316667
295                     Central Park     4           0  0.345070
297                     Central Park     5           0  0.374582
299                     Central Park     6           0  0.537361
301                     Central Park     7           0  0.616753
303                     Central Park     8           0  0.644355
305                     Central Park     9           0

In [217]:
perc_yell_fhv_data_hour_zone

,PUZone,hour,highvolume,Perc
0,Alphabet City,0,0,0.088175
1,Alphabet City,0,1,0.911825
2,Alphabet City,1,0,0.123609
3,Alphabet City,1,1,0.876391
4,Alphabet City,2,0,0.125260
5,Alphabet City,2,1,0.874740
6,Alphabet City,3,0,0.108479
7,Alphabet City,3,1,0.891521
8,Alphabet City,4,0,0.053643
9,Alphabet City,4,1,0.946357
10,Alphabet City,5,0,0.019879
11,Alphabet City,5,1,0.980121
12,Alphabet City,6,0,0.026345
13,Alphabet City,6,1,0.973655
14,Alphabet City,7,0,0.043947
15,Alphabet City,7,1,0.956053
16,Alphabet City,8,0,0.050783
17,Alphabet City,8,1,0.949217
18,Alphabet City,9,0,0.046600
19,Alphabet City,9,1,0.953400
20,Alphabet City,10,0,0.040133
21,Alphabet City,10,1,0.959867
22,Alphabet City,11,0,0.039159
23,Alphabet City,11,1,0.960841
24,Alphabet City,12,0,0.044625
25,Alphabet City,12,1,0.955375
26,Alphabet City,13,0,0.043078
27,Alphabet City,13,1,0.956922
28,Alphabet City,14,0,0.049007
29,Alphabet City,14,1,0.950993
30,Alphabet City,15,0,0.058504
31,Alphabet City,15,1,0.941496
32,Alphabet City,16,0,0.047806
33,Alphabet City,16,1,0.952194
34,Alphabet City,17,0,0.054194
35,Alphabet City,17,1,0.945806
36,Alphabet City,18,0,0.050158
37,Alphabet City,18,1,0.949842
38,Alphabet City,19,0,0.041441
39,Alphabet City,19,1,0.958559
40,Alphabet City,20,0,0.039826
41,Alphabet City,20,1,0.960174
42,Alphabet City,21,0,0.049518
43,Alphabet City,21,1,0.950482
44,Alphabet City,22,0,0.055120
45,Alphabet City,22,1,0.944880
46,Alphabet City,23,0,0.079918
47,Alphabet City,23,1,0.920082
48,Battery Park,0,0,0.083333
49,Battery Park,0,1,0.916667
50,Battery Park,1,0,0.100000
51,Battery Park,1,1,0.900000
52,Battery Park,2,0,0.222222
53,Battery Park,2,1,0.777778
54,Battery Park,3,1,1.000000
55,Battery Park,4,0,0.285714
56,Battery Park,4,1,0.714286
57,Battery Park,5,0,0.444444
58,Battery Park,5,1,0.555556
59,Battery Park,6,0,0.166667
60,Battery Park,6,1,0.833333
61,Battery Park,7,0,0.300000
62,Battery Park,7,1,0.700000
63,Battery Park,8,0,0.355556
64,Battery Park,8,1,0.644444
65,Battery Park,9,0,0.507463
66,Battery Park,9,1,0.492537
67,Battery Park,10,0,0.371134
68,Battery Park,10,1,0.628866
69,Battery Park,11,0,0.376744
70,Battery Park,11,1,0.623256
71,Battery Park,12,0,0.361963
72,Battery Park,12,1,0.638037
73,Battery Park,13,0,0.351695
74,Battery Park,13,1,0.648305
75,Battery Park,14,0,0.354978
76,Battery Park,14,1,0.645022

In [219]:
perc_yell_fhv_data_hour_zone.to_csv("perc_yell_fhv_data_hourandzone.csv")

The above data has zone, hour, highvolume flag wise percentage of trips out of the total trips

### Zone wise % of trips out of the total trips for 0 and 1

In [220]:
perc_yell_fhv_data = pd.DataFrame(data_manhattan.groupby(['PUZone','highvolume'])['pickup_datetime'].count()/data_manhattan.groupby(['PUZone'])['pickup_datetime'].count()).reset_index()

In [221]:
perc_yell_fhv_data

                                            PUZone  highvolume  \
0                                    Alphabet City           0
1                                    Alphabet City           1
2                                     Battery Park           0
3                                     Battery Park           1
4                                Battery Park City           0
5                                Battery Park City           1
6                                     Bloomingdale           0
7                                     Bloomingdale           1
8                                   Central Harlem           0
9                                   Central Harlem           1
10                            Central Harlem North           0
11                            Central Harlem North           1
12                                    Central Park           0
13                                    Central Park           1
14                                       Chinatown           0
15                                       Chinatown           1
16                                    Clinton East           0
17                                    Clinton East           1
18                                    Clinton West           0
19                                    Clinton West           1
20                                    East Chelsea           0
21                                    East Chelsea           1
22                               East Harlem North           0
23                               East Harlem North           1
24                               East Harlem South           0
25                               East Harlem South           1
26                                    East Village           0
27                                    East Village           1
28                        Financial District North           0
29                        Financial District North           1
30                        Financial District South           0
31                        Financial District South           1
32                                        Flatiron           0
33                                        Flatiron           1
34                                Garment District           0
35                                Garment District           1
36   Governor's Island/Ellis Island/Liberty Island           1
37                                        Gramercy           0
38                                        Gramercy           1
39                         Greenwich Village North           0
40                         Greenwich Village North           1
41                         Greenwich Village South           0
42                         Greenwich Village South           1
43                                Hamilton Heights           0
44                                Hamilton Heights           1
45                                 Highbridge Park           0
46                                 Highbridge Park           1
47                                       Hudson Sq           0
48                                       Hudson Sq           1
49                                          Inwood           0
50                                          Inwood           1
51                                Inwood Hill Park           0
52                                Inwood Hill Park           1
53                                        Kips Bay           0
54                                        Kips Bay           1
55                                 Lenox Hill East           0
56                                 Lenox Hill East           1
57                                 Lenox Hill West           0
58                                 Lenox Hill West           1
59                             Lincoln Square East           0
60                             Lincoln Square East           1
61                             Lincoln Square West           0
62                             Lincoln Square West           1
63                             Little Italy/NoLiTa           0
64                             Little Italy/NoLiTa           1
65                                 Lower East Side           0
66                                 Lower East Side           1
67                                Manhattan Valley           0
68                                Manhattan Valley           1
69                                  Manhattanville           0
70                                  Manhattanville           1
71                                     Marble Hill           0
72                                     Marble Hill           1
73                   Meatpacking/West Village West           0
74                   Meatpacking/West Village West           1
75                                  Midtown Center           0
76                                  Midtown Center           1
77                                    Midtown East           0
78                                    Midtown East           1
79                                   Midtown North           0
80                                   Midtown North           1
81                                   Midtown South           0
82                                   Midtown South           1
83                             Morningside Heights           0
84                             Morningside Heights           1
85                                     Murray Hill           0
86                                     Murray Hill           1
87                    Penn Station/Madison Sq West           0
88                    Penn Station/Madison Sq West           1
89                                 Randalls Island           0
90                                 Randalls Island           1
91                                Roosevelt Island           0
92                                Roosevelt Island           1
93                                         Seaport           0
94                                         Seaport           1
95                                            SoHo           0
96                                            SoHo           1
97                  Stuy Town/Peter Cooper Village           0
98                  Stuy Town/Peter Cooper Village           1
99                   Sutton Place/Turtle Bay North           0
100                  Sutton Place/Turtle Bay North           1
101                      Times Sq/Theatre District           0
102                      Times Sq/Theatre District           1
103                           TriBeCa/Civic Center           0
104                           TriBeCa/Civic Center           1
105                        Two Bridges/Seward Park           0
106                        Two Bridges/Seward Park           1
107                            UN/Turtle Bay South           0
108                            UN/Turtle Bay South           1
109                                       Union Sq           0
110                                       Union Sq           1
111                          Upper East Side North           0
112                          Upper East Side North           1
113                          Upper East Side South           0
114                          Upper East Side South           1
115                          Upper West Side North           0
116                          Upper West Side North           1
117                          Upper West Side South           0
118                          Upper West Side South           1
119                       Washington Heights North           0
120                       Washington Heights North           1
121                       Washington Heights South           0
122                       Washington Heights South           1
123                      West Chelsea/Hudson Yards           0
124                      West Chelsea/Hudson Yards           1
125                                   West Village           0
126                                   West Village           1
127                             World Trade Center           0
128                             World Trade Center           1
129                                 Yorkville East           0
130                                 Yorkville East           1
131                                 Yorkville West           0
132                                 Yorkville West           1

     pickup_datetime
0           0.058692
1           0.941308
2           0.308273
3           0.691727
4           0.172233
5           0.827767
6           0.271019
7           0.728981
8           0.068817
9           0.931183
10          0.017640
11          0.982360
12          0.661017
13          0.338983
14          0.077140
15          0.922860
16          0.317052
17          0.682948
18          0.165151
19          0.834849
20          0.258721
21          0.741279
22          0.060311
23          0.939689
24          0.156388
25          0.843612
26          0.232109
27          0.767891
28          0.128780
29          0.871220
30          0.150124
31          0.849876
32          0.282644
33          0.717356
34          0.304925
35          0.695075
36          1.000000
37          0.321085
38          0.678915
39          0.253770
40          0.746230
41          0.227282
42          0.772718
43          0.034129
44          0.965871
45          0.011283
46          0.988717
47          0.200040
48          0.799960
49

In [222]:
perc_yell_fhv_data.rename(columns = {'pickup_datetime':'Perc'},inplace=True)

In [223]:
perc_yell_fhv_data[perc_yell_fhv_data['highvolume']==0].sort_values(by = 'Perc', ascending= False).head(10)

                           PUZone  highvolume      Perc
12                   Central Park           0  0.661017
111         Upper East Side North           0  0.486506
113         Upper East Side South           0  0.481582
59            Lincoln Square East           0  0.443429
117         Upper West Side South           0  0.426360
87   Penn Station/Madison Sq West           0  0.417426
77                   Midtown East           0  0.404877
115         Upper West Side North           0  0.400038
57                Lenox Hill West           0  0.398050
131                Yorkville West           0  0.397091

In [224]:
perc_yell_fhv_data.to_csv('perc_yell_fhv_data_zone.csv')

The above data has zone,highvolume flag wise percentage of trips out of the total trips

In [183]:
perc_yell_fhv_data_0 = data_manhattan[data_manhattan['highvolume']==0]

In [184]:
perc_yell_fhv_data_0.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
277550,963,2022-11-01 00:44:31,2022-11-01 00:52:18,209,79,2.56,10.0,NaN,NaN,0,209,Manhattan,Seaport,Yellow Zone,0,1,11
277551,1366,2022-11-01 00:29:54,2022-11-01 00:41:03,209,97,2.20,10.5,NaN,NaN,0,209,Manhattan,Seaport,Yellow Zone,0,1,11
277552,2367,2022-11-01 01:45:53,2022-11-01 01:58:51,209,68,3.40,12.5,NaN,NaN,0,209,Manhattan,Seaport,Yellow Zone,1,1,11
277553,2542,2022-11-01 01:17:16,2022-11-01 01:28:11,209,79,2.06,10.0,NaN,NaN,0,209,Manhattan,Seaport,Yellow Zone,1,1,11
277554,2972,2022-11-01 01:48:22,2022-11-01 01:53:13,209,148,0.80,5.5,NaN,NaN,0,209,Manhattan,Seaport,Yellow Zone,1,1,11

66

In [185]:
perc_yell_fhv_data_0 = pd.DataFrame(perc_yell_fhv_data_0.groupby(['PUZone'])['pickup_datetime'].count()*100/perc_yell_fhv_data_0['pickup_datetime'].count()).reset_index()

In [187]:
perc_yell_fhv_data_0 = perc_yell_fhv_data_0.reset_index().rename(columns = {'pickup_datetime':'Perc_outoftot_yelo_cabs'})

In [188]:
perc_yell_fhv_data_0.sort_values(by = 'Perc_outoftot_yelo_cabs', ascending = False)

    level_0  index                          PUZone  Perc_outoftot_yelo_cabs
56       56     56           Upper East Side South                 5.698472
55       55     55           Upper East Side North                 4.964397
37       37     37                  Midtown Center                 4.868743
29       29     29             Lincoln Square East                 3.899063
38       38     38                    Midtown East                 3.794751
43       43     43    Penn Station/Madison Sq West                 3.616413
50       50     50       Times Sq/Theatre District                 3.519368
42       42     42                     Murray Hill                 3.310606
39       39     39                   Midtown North                 3.276183
58       58     58           Upper West Side South                 3.260154
8         8      8                    Clinton East                 3.147915
28       28     28                 Lenox Hill West                 2.945863
54       54     54                        Union Sq                 2.898436
10       10     10                    East Chelsea                 2.714952
13       13     13                    East Village                 2.709354
40       40     40                   Midtown South                 2.580286
18       18     18                        Gramercy                 2.539187
65       65     65                  Yorkville West                 2.387171
57       57     57           Upper West Side North                 2.348471
49       49     49   Sutton Place/Turtle Bay North                 2.327852
27       27     27                 Lenox Hill East                 2.293951
62       62     62                    West Village                 2.255981
6         6      6                    Central Park                 1.918812
17       17     17                Garment District                 1.790056
16       16     16                        Flatiron                 1.789952
61       61     61       West Chelsea/Hudson Yards                 1.738700
51       51     51            TriBeCa/Civic Center                 1.544611
64       64     64                  Yorkville East                 1.528721
19       19     19         Greenwich Village North                 1.461023
53       53     53             UN/Turtle Bay South                 1.412414
20       20     20         Greenwich Village South                 1.344159
30       30     30             Lincoln Square West                 1.342247
26       26     26                        Kips Bay                 1.319402
32       32     32                 Lower East Side                 1.048088
33       33     33                Manhattan Valley                 1.010223
36       36     36   Meatpacking/West Village West                 0.889847
31       31     31             Little Italy/NoLiTa                 0.877121
47       47     47                            SoHo                 0.810292
9         9      9                    Clinton West                 0.766794
12       12     12               East Harlem South                 0.716655
2         2      2               Battery Park City                 0.631328
14       14     14        Financial District North                 0.615160
41       41     41             Morningside Heights                 0.603477
23       23     23                       Hudson Sq                 0.555355
63       63     63              World Trade Center                 0.555146
3         3      3                    Bloomingdale                 0.335014
4         4      4                  Central Harlem                 0.294263
15       15     15        Financial District South                 0.288352
11       11     11               East Harlem North                 0.273922
46       46     46                         Seaport                 0.190647
48       48     48  Stuy Town/Peter Cooper Village                 0.153860
7         7      7                       Chinatown                 0.134249
52       52     52         Two Bridges/Seward Park                 0.132371
0         0      0                   Alphabet City                 0.129103
5         5      5            Central Harlem North                 0.100000
21       21     21                Hamilton Heights                 0.098331
34       34     34                  Manhattanville                 0.085466
60       60     60        Washington Heights South                 0.081919
1         1      1                    Battery Park                 0.038352
59       59     59        Washington Heights North                 0.019193
24       24     24                          Inwood                 0.006050
44       44     44                 Randalls Island                 0.005111
45       45     45                Roosevelt Island                 0.004485
35       35     35                     Marble Hill                 0.000939
25       25     25                Inwood Hill Park                 0.000661
22       22     22                 Highbridge Park                 0.000556

In [207]:
perc_yell_fhv_data_0.to_csv('perc_yell_fhv_data_0.csv')

In [199]:
data_manhattan_0 = data_manhattan[data_manhattan['highvolume']==0]

In [202]:
data_manhattan_0 = data_manhattan_0.groupby('PUZone')['pickup_datetime'].count()/data_manhattan['pickup_datetime'].count()

In [204]:
a = pd.DataFrame(data_manhattan_0).reset_index()

In [206]:
a.to_csv('a.csv')

In [225]:
perc_yell_fhv_data_1 = data_manhattan[data_manhattan['highvolume']==1]

In [226]:
perc_yell_fhv_data_1.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
232975,1,2022-11-01 00:46:33,2022-11-01 00:58:18,209,79,2.07,14.48,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232976,422,2022-11-01 00:56:16,2022-11-01 01:06:09,209,13,0.91,9.55,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232977,484,2022-11-01 00:40:06,2022-11-01 00:53:16,209,249,2.36,26.92,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232978,489,2022-11-01 00:19:58,2022-11-01 00:39:58,209,50,4.33,21.12,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232979,872,2022-11-01 00:12:16,2022-11-01 00:25:28,209,148,1.61,16.10,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11

66

In [227]:
perc_yell_fhv_data_1 = pd.DataFrame(perc_yell_fhv_data_1.groupby(['PUZone'])['pickup_datetime'].count()*100/perc_yell_fhv_data_1['pickup_datetime'].count()).reset_index()

In [228]:
perc_yell_fhv_data_1 = perc_yell_fhv_data_1.reset_index().rename(columns = {'pickup_datetime':'Perc_outoftot_fhv'})

In [229]:
perc_yell_fhv_data_1.sort_values(by = 'Perc_outoftot_fhv', ascending = False)

    index                                         PUZone  Perc_outoftot_fhv
13     13                                   East Village           3.398142
38     38                                 Midtown Center           3.328172
51     51                      Times Sq/Theatre District           3.322715
52     52                           TriBeCa/Civic Center           2.968095
10     10                                   East Chelsea           2.949034
55     55                                       Union Sq           2.782955
62     62                      West Chelsea/Hudson Yards           2.782559
41     41                                  Midtown South           2.743672
8       8                                   Clinton East           2.570673
33     33                                Lower East Side           2.533909
63     63                                   West Village           2.427675
43     43                                    Murray Hill           2.354120
57     57                          Upper East Side South           2.325608
40     40                                  Midtown North           2.306151
39     39                                   Midtown East           2.114631
5       5                           Central Harlem North           2.111309
19     19                                       Gramercy           2.035434
56     56                          Upper East Side North           1.986463
44     44                   Penn Station/Madison Sq West           1.913449
30     30                            Lincoln Square East           1.855343
32     32                            Little Italy/NoLiTa           1.854697
61     61                       Washington Heights South           1.753974
21     21                        Greenwich Village South           1.732500
16     16                                       Flatiron           1.722284
29     29                                Lenox Hill West           1.688894
59     59                          Upper West Side South           1.662913
20     20                        Greenwich Village North           1.628759
37     37                  Meatpacking/West Village West           1.621047
11     11                              East Harlem North           1.618015
50     50                  Sutton Place/Turtle Bay North           1.598401
14     14                       Financial District North           1.577744
48     48                                           SoHo           1.565011
17     17                               Garment District           1.546938
4       4                                 Central Harlem           1.509528
28     28                                Lenox Hill East           1.497071
54     54                            UN/Turtle Bay South           1.492813
9       9                                   Clinton West           1.469508
12     12                              East Harlem South           1.465606
66     66                                 Yorkville West           1.374084
27     27                                       Kips Bay           1.349354
58     58                          Upper West Side North           1.335289
31     31                            Lincoln Square West           1.326326
60     60                       Washington Heights North           1.238231
2       2                              Battery Park City           1.150307
42     42                            Morningside Heights           1.095761
22     22                               Hamilton Heights           1.055002
53     53                        Two Bridges/Seward Park           1.050059
65     65                                 Yorkville East           0.984215
64     64                             World Trade Center           0.943008
24     24                                      Hudson Sq           0.841956
25     25                                         Inwood           0.786921
0       0                                  Alphabet City           0.784970
34     34                               Manhattan Valley           0.728367
15     15                       Financial District South           0.618865
7       7                                      Chinatown           0.608886
47     47                                        Seaport           0.587584
49     49                 Stuy Town/Peter Cooper Village           0.556804
35     35                                 Manhattanville           0.548829
6       6                                   Central Park           0.373048
3       3                                   Bloomingdale           0.341623
36     36                                    Marble Hill           0.212598
46     46                               Roosevelt Island           0.155784
26     26                               Inwood Hill Park           0.057658
1       1                                   Battery Park           0.032625
45     45                                Randalls Island           0.027511
23     23                                Highbridge Park           0.018481
18     18  Governor's Island/Ellis Island/Liberty Island           0.000040

In [230]:
perc_yell_fhv_data_1.to_csv('perc_yell_fhv_data_1.csv')

In [231]:
data_manhattan_1 = data_manhattan[data_manhattan['highvolume']==1]

In [232]:
data_manhattan_1 = data_manhattan_1.groupby('PUZone')['pickup_datetime'].count()/data_manhattan['pickup_datetime'].count()

In [233]:
b = pd.DataFrame(data_manhattan_1).reset_index()

In [235]:
b.to_csv('b.csv')

In [254]:
data_manhattan.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
232975,1,2022-11-01 00:46:33,2022-11-01 00:58:18,209,79,2.07,14.48,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232976,422,2022-11-01 00:56:16,2022-11-01 01:06:09,209,13,0.91,9.55,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232977,484,2022-11-01 00:40:06,2022-11-01 00:53:16,209,249,2.36,26.92,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232978,489,2022-11-01 00:19:58,2022-11-01 00:39:58,209,50,4.33,21.12,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232979,872,2022-11-01 00:12:16,2022-11-01 00:25:28,209,148,1.61,16.10,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11

In [272]:
data_manhattan_fare_comp = pd.DataFrame(data_manhattan.groupby(['PUZone','hour','highvolume'])['base_passenger_fare'].sum()/data_manhattan.groupby(['PUZone','hour','highvolume'])['pickup_datetime'].count())

In [273]:
data_manhattan_fare_comp.reset_index().rename(columns = {'0':'fare per trip'},inplace = True)

In [285]:
data_manhattan_fare_comp = data_manhattan_fare_comp.reset_index().rename(columns = {0:'fare per trip'})

In [286]:
data_manhattan_fare_comp

                                             PUZone  hour  highvolume  \
0                                     Alphabet City     0           0
1                                     Alphabet City     0           1
2                                     Alphabet City     1           0
3                                     Alphabet City     1           1
4                                     Alphabet City     2           0
5                                     Alphabet City     2           1
6                                     Alphabet City     3           0
7                                     Alphabet City     3           1
8                                     Alphabet City     4           0
9                                     Alphabet City     4           1
10                                    Alphabet City     5           0
11                                    Alphabet City     5           1
12                                    Alphabet City     6           0
13                                    Alphabet City     6           1
14                                    Alphabet City     7           0
15                                    Alphabet City     7           1
16                                    Alphabet City     8           0
17                                    Alphabet City     8           1
18                                    Alphabet City     9           0
19                                    Alphabet City     9           1
20                                    Alphabet City    10           0
21                                    Alphabet City    10           1
22                                    Alphabet City    11           0
23                                    Alphabet City    11           1
24                                    Alphabet City    12           0
25                                    Alphabet City    12           1
26                                    Alphabet City    13           0
27                                    Alphabet City    13           1
28                                    Alphabet City    14           0
29                                    Alphabet City    14           1
30                                    Alphabet City    15           0
31                                    Alphabet City    15           1
32                                    Alphabet City    16           0
33                                    Alphabet City    16           1
34                                    Alphabet City    17           0
35                                    Alphabet City    17           1
36                                    Alphabet City    18           0
37                                    Alphabet City    18           1
38                                    Alphabet City    19           0
39                                    Alphabet City    19           1
40                                    Alphabet City    20           0
41                                    Alphabet City    20           1
42                                    Alphabet City    21           0
43                                    Alphabet City    21           1
44                                    Alphabet City    22           0
45                                    Alphabet City    22           1
46                                    Alphabet City    23           0
47                                    Alphabet City    23           1
48                                     Battery Park     0           0
49                                     Battery Park     0           1
50                                     Battery Park     1           0
51                                     Battery Park     1           1
52                                     Battery Park     2           0
53                                     Battery Park     2           1
54                                     Battery Park     3           1
55                                     Battery Park     4           0
56                                     Battery Park     4           1
57                                     Battery Park     5           0
58                                     Battery Park     5           1
59                                     Battery Park     6           0
60                                     Battery Park     6           1
61                                     Battery Park     7           0
62                                     Battery Park     7           1
63                                     Battery Park     8           0
64                                     Battery Park     8           1
65                                     Battery Park     9           0
66                                     Battery Park     9           1
67                                     Battery Park    10           0
68                                     Battery Park    10           1
69                                     Battery Park    11           0
70                                     Battery Park    11           1
71                                     Battery Park    12           0
72                                     Battery Park    12           1
73                                     Battery Park    13           0
74                                     Battery Park    13           1
75                                     Battery Park    14           0
76                                     Battery Park    14           1
77                                     Battery Park    15           0
78                                     Battery Park    15           1
79                                     Battery Park    16           0
80                                     Battery Park    16           1
81                                     Battery Park    17           0
82                                     Battery Park    17           1
83                                     Battery Park    18           0
84                                     Battery Park    18           1
85                                     Battery Park    19           0
86                                     Battery Park    19           1
87                                     Battery Park    20           0
88                                     Battery Park    20           1
89                                     Battery Park    21           0
90                                     Battery Park    21           1
91                                     Battery Park    22           0
92                                     Battery Park    22           1
93                                     Battery Park    23           0
94                                     Battery Park    23           1
95                                Battery Park City     0           0
96                                Battery Park City     0           1
97                                Battery Park City     1           0
98                                Battery Park City     1           1
99                                Battery Park City     2           0
100                               Battery Park City     2           1
101                               Battery Park City     3           0
102                               Battery Park City     3           1
103                               Battery Park City     4           0
104                               Battery Park City     4           1
105                               Battery Park City     5           0
106                               Battery Park City     5           1
107                               Battery Park City     6           0
108                               Battery Park City     6           1
109                               Battery Park City     7           0
110                               Battery Park City     7           1
111                               Battery Park City     8           0
112                               Battery Park City     8           1
113                               Battery Park City     9           0
114                               Battery Park City     9           1
115                               Battery Park City    10           0
116                               Battery Park City    10           1
117                               Battery Park City    11           0
118                               Battery Park City    11           1
119                               Battery Park City    12           0
120                               Battery Park City    12           1
121                               Battery Park City    13           0
122                               Battery Park City    13           1
123                               Battery Park City    14           0
124                               Battery Park City    14           1
125                               Battery Park City    15           0
126                               Battery Park City    15           1
127                               Battery Park City    16           0
128                               Battery Park City    16           1
129                               Battery Park City    17           0
130                               Battery Park City    17           1
131                               Battery Park City    18           0
132                               Battery Park City    18           1
133                               Battery Park City    19           0
134                               Battery Park City    19           1
135                               Battery Park City    20           0

In [288]:
data_manhattan_fare_comp.to_csv('data_manhattan_fare_comp_latest.csv')

In [299]:
perc_yell_fhv_data_day_zone = pd.DataFrame(data_manhattan.groupby(['PUZone','day','highvolume'])['pickup_datetime'].count()/data_manhattan.groupby(['PUZone','day'])['pickup_datetime'].count()).reset_index()

In [301]:
perc_yell_fhv_data_day_zone

                                            PUZone  day  highvolume  \
0                                    Alphabet City    0           0
1                                    Alphabet City    0           1
2                                    Alphabet City    1           0
3                                    Alphabet City    1           1
4                                    Alphabet City    2           0
5                                    Alphabet City    2           1
6                                    Alphabet City    3           0
7                                    Alphabet City    3           1
8                                    Alphabet City    4           0
9                                    Alphabet City    4           1
10                                   Alphabet City    5           0
11                                   Alphabet City    5           1
12                                   Alphabet City    6           0
13                                   Alphabet City    6           1
14                                    Battery Park    0           0
15                                    Battery Park    0           1
16                                    Battery Park    1           0
17                                    Battery Park    1           1
18                                    Battery Park    2           0
19                                    Battery Park    2           1
20                                    Battery Park    3           0
21                                    Battery Park    3           1
22                                    Battery Park    4           0
23                                    Battery Park    4           1
24                                    Battery Park    5           0
25                                    Battery Park    5           1
26                                    Battery Park    6           0
27                                    Battery Park    6           1
28                               Battery Park City    0           0
29                               Battery Park City    0           1
30                               Battery Park City    1           0
31                               Battery Park City    1           1
32                               Battery Park City    2           0
33                               Battery Park City    2           1
34                               Battery Park City    3           0
35                               Battery Park City    3           1
36                               Battery Park City    4           0
37                               Battery Park City    4           1
38                               Battery Park City    5           0
39                               Battery Park City    5           1
40                               Battery Park City    6           0
41                               Battery Park City    6           1
42                                    Bloomingdale    0           0
43                                    Bloomingdale    0           1
44                                    Bloomingdale    1           0
45                                    Bloomingdale    1           1
46                                    Bloomingdale    2           0
47                                    Bloomingdale    2           1
48                                    Bloomingdale    3           0
49                                    Bloomingdale    3           1
50                                    Bloomingdale    4           0
51                                    Bloomingdale    4           1
52                                    Bloomingdale    5           0
53                                    Bloomingdale    5           1
54                                    Bloomingdale    6           0
55                                    Bloomingdale    6           1
56                                  Central Harlem    0           0
57                                  Central Harlem    0           1
58                                  Central Harlem    1           0
59                                  Central Harlem    1           1
60                                  Central Harlem    2           0
61                                  Central Harlem    2           1
62                                  Central Harlem    3           0
63                                  Central Harlem    3           1
64                                  Central Harlem    4           0
65                                  Central Harlem    4           1
66                                  Central Harlem    5           0
67                                  Central Harlem    5           1
68                                  Central Harlem    6           0
69                                  Central Harlem    6           1
70                            Central Harlem North    0           0
71                            Central Harlem North    0           1
72                            Central Harlem North    1           0
73                            Central Harlem North    1           1
74                            Central Harlem North    2           0
75                            Central Harlem North    2           1
76                            Central Harlem North    3           0
77                            Central Harlem North    3           1
78                            Central Harlem North    4           0
79                            Central Harlem North    4           1
80                            Central Harlem North    5           0
81                            Central Harlem North    5           1
82                            Central Harlem North    6           0
83                            Central Harlem North    6           1
84                                    Central Park    0           0
85                                    Central Park    0           1
86                                    Central Park    1           0
87                                    Central Park    1           1
88                                    Central Park    2           0
89                                    Central Park    2           1
90                                    Central Park    3           0
91                                    Central Park    3           1
92                                    Central Park    4           0
93                                    Central Park    4           1
94                                    Central Park    5           0
95                                    Central Park    5           1
96                                    Central Park    6           0
97                                    Central Park    6           1
98                                       Chinatown    0           0
99                                       Chinatown    0           1
100                                      Chinatown    1           0
101                                      Chinatown    1           1
102                                      Chinatown    2           0
103                                      Chinatown    2           1
104                                      Chinatown    3           0
105                                      Chinatown    3           1
106                                      Chinatown    4           0
107                                      Chinatown    4           1
108                                      Chinatown    5           0
109                                      Chinatown    5           1
110                                      Chinatown    6           0
111                                      Chinatown    6           1
112                                   Clinton East    0           0
113                                   Clinton East    0           1
114                                   Clinton East    1           0
115                                   Clinton East    1           1
116                                   Clinton East    2           0
117                                   Clinton East    2           1
118                                   Clinton East    3           0
119                                   Clinton East    3           1
120                                   Clinton East    4           0
121                                   Clinton East    4           1
122                                   Clinton East    5           0
123                                   Clinton East    5           1
124                                   Clinton East    6           0
125                                   Clinton East    6           1
126                                   Clinton West    0           0
127                                   Clinton West    0           1
128                                   Clinton West    1           0
129                                   Clinton West    1           1
130                                   Clinton West    2           0
131                                   Clinton West    2           1
132                                   Clinton West    3           0
133                                   Clinton West    3           1
134                                   Clinton West    4           0
135                                   Clinton West    4           1
136                                   Clinton West    5           0
137                                   Clinton West    5           1
138                                   Clinton West    6           0
139                                   Clinton West    6

In [302]:
perc_yell_fhv_data_day_zone.to_csv('perc_yell_fhv_data_day_zone.csv')

In [304]:
data_manhattan.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
232975,1,2022-11-01 00:46:33,2022-11-01 00:58:18,209,79,2.07,14.48,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232976,422,2022-11-01 00:56:16,2022-11-01 01:06:09,209,13,0.91,9.55,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232977,484,2022-11-01 00:40:06,2022-11-01 00:53:16,209,249,2.36,26.92,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232978,489,2022-11-01 00:19:58,2022-11-01 00:39:58,209,50,4.33,21.12,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11
232979,872,2022-11-01 00:12:16,2022-11-01 00:25:28,209,148,1.61,16.10,N,N,1,209,Manhattan,Seaport,Yellow Zone,0,1,11

In [335]:
data_manhattan_uesn = data_manhattan[data_manhattan['PUZone']=='Upper East Side North']

In [336]:
data_manhattan_uesn.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,base_passenger_fare,shared_request_flag,shared_match_flag,highvolume,LocationID,PUBorough,PUZone,PUservice_zone,hour,day,month
6617927,57,2022-11-01 00:00:43,2022-11-01 00:05:09,236,238,0.890,8.14,N,N,1,236,Manhattan,Upper East Side North,Yellow Zone,0,1,11
6617928,331,2022-11-01 00:22:20,2022-11-01 00:47:23,236,36,12.670,34.13,N,N,1,236,Manhattan,Upper East Side North,Yellow Zone,0,1,11
6617929,345,2022-11-01 00:07:01,2022-11-01 00:32:48,236,112,6.884,19.51,N,N,1,236,Manhattan,Upper East Side North,Yellow Zone,0,1,11
6617930,421,2022-11-01 00:11:00,2022-11-01 00:51:32,236,209,7.930,57.11,N,N,1,236,Manhattan,Upper East Side North,Yellow Zone,0,1,11
6617931,1457,2022-11-01 00:14:54,2022-11-01 00:18:41,236,75,0.470,8.22,N,N,1,236,Manhattan,Upper East Side North,Yellow Zone,0,1,11

In [337]:
data_manhattan_uesn.dtypes

Unnamed: 0                      int64
pickup_datetime        datetime64[ns]
dropoff_datetime       datetime64[ns]
PULocationID                    int64
DOLocationID                    int64
trip_miles                    float64
base_passenger_fare           float64
shared_request_flag            object
shared_match_flag              object
highvolume                      int64
LocationID                      int64
PUBorough                      object
PUZone                         object
PUservice_zone                 object
hour                            int64
day                             int64
month                           int64
dtype: object

data_manhattan_uesn.head()

### Understand the mile distribution for 0 and 1 across days

Filtering for upper east side North

In [321]:
data_manhattan_uesn = data_manhattan_uesn.groupby(['day','highvolume'])['trip_miles'].sum().reset_index()

In [324]:
data_manhattan_uesn[data_manhattan_uesn['highvolume']==0]

    day  highvolume  trip_miles
0     0           0    40677.63
2     1           0    57117.82
4     2           0    55789.54
6     3           0    42209.77
8     4           0    39677.43
10    5           0   400024.17
12    6           0    27760.15

In [325]:
data_manhattan_uesn[data_manhattan_uesn['highvolume']==1]

    day  highvolume  trip_miles
1     0           1   89383.808
3     1           1  116479.966
5     2           1  120406.770
7     3           1   96372.755
9     4           1   97910.693
11    5           1   97163.541
13    6           1   81883.385

In [319]:
data_manhattan_uesn.to_csv('trip_miles_data_uesn.csv')

In [320]:
data_manhattan_uesn[data_manhattan_uesn['highvolume']==0]

         Unnamed: 0     pickup_datetime     dropoff_datetime  PULocationID  \
6768623          47 2022-11-01 00:26:33  2022-11-01 00:32:41           236
6768624         200 2022-11-01 00:41:28  2022-11-01 00:47:04           236
6768625         731 2022-11-01 00:36:37  2022-11-01 00:49:15           236
6768626         829 2022-11-01 00:46:15  2022-11-01 00:51:49           236
6768627         873 2022-11-01 00:07:31  2022-11-01 00:16:45           236
6768628        1253 2022-10-31 23:56:47  2022-11-01 00:05:21           236
6768629        1275 2022-11-01 00:11:32  2022-11-01 00:19:15           236
6768630        1813 2022-11-01 00:27:54  2022-11-01 00:43:56           236
6768631        2876 2022-11-01 01:06:48  2022-11-01 01:13:11           236
6768632        3198 2022-11-01 02:39:13  2022-11-01 02:42:24           236
6768633        3226 2022-11-01 02:43:11  2022-11-01 03:00:11           236
6768634        3842 2022-11-01 02:01:46  2022-11-01 02:11:13           236
6768635        3858 2022-11-01 02:18:14  2022-11-01 02:41:13           236
6768636        4102 2022-11-01 03:51:21  2022-11-01 04:30:30           236
6768637        4256 2022-11-01 03:51:55  2022-11-01 04:06:39           236
6768638        4377 2022-11-01 03:05:29  2022-11-01 03:05:35           236
6768639        4554 2022-11-01 04:52:39  2022-11-01 05:01:40           236
6768640        4694 2022-11-01 04:48:18  2022-11-01 04:58:29           236
6768641        4729 2022-11-01 04:17:20  2022-11-01 04:37:18           236
6768642        4822 2022-11-01 05:45:16  2022-11-01 05:52:42           236
6768643        4921 2022-11-01 05:59:38  2022-11-01 06:05:59           236
6768644        5009 2022-11-01 05:42:35  2022-11-01 05:54:58           236
6768645        5057 2022-11-01 05:57:34  2022-11-01 06:05:25           236
6768646        5068 2022-11-01 05:55:00  2022-11-01 05:58:26           236
6768647        5069 2022-11-01 05:31:18  2022-11-01 05:44:01           236
6768648        5073 2022-11-01 05:20:20  2022-11-01 05:31:16           236
6768649        5115 2022-11-01 05:46:38  2022-11-01 06:00:05           236
6768650        5249 2022-11-01 05:34:01  2022-11-01 05:48:03           236
6768651        5260 2022-11-01 05:47:36  2022-11-01 05:51:27           236
6768652        5284 2022-11-01 05:49:44  2022-11-01 06:08:03           236
6768653        5298 2022-11-01 05:23:18  2022-11-01 05:57:06           236
6768654        5310 2022-11-01 05:58:21  2022-11-01 06:04:15           236
6768655        5375 2022-11-01 05:38:03  2022-11-01 05:49:08           236
6768656        5396 2022-11-01 05:29:50  2022-11-01 05:41:36           236
6768657        5636 2022-11-01 06:57:51  2022-11-01 07:08:52           236
6768658        5641 2022-11-01 06:34:17  2022-11-01 06:42:07           236
6768659        5642 2022-11-01 06:56:09  2022-11-01 07:09:43           236
6768660        5676 2022-11-01 06:36:26  2022-11-01 06:40:29           236
6768661        5699 2022-11-01 06:07:42  2022-11-01 06:44:25           236
6768662        5707 2022-11-01 06:53:01  2022-11-01 07:00:16           236
6768663        5747 2022-11-01 06:57:22  2022-11-01 07:14:53           236
6768664        5778 2022-11-01 06:09:55  2022-11-01 06:18:57           236
6768665        5780 2022-11-01 06:47:08  2022-11-01 06:50:35           236
6768666        5791 2022-11-01 06:33:23  2022-11-01 06:43:53           236
6768667        5834 2022-11-01 06:43:38  2022-11-01 06:51:07           236
6768668        5875 2022-11-01 06:59:10  2022-11-01 07:10:32           236
6768669        5882 2022-11-01 06:58:47  2022-11-01 07:07:23           236
6768670        5909 2022-11-01 06:13:01  2022-11-01 06:21:53           236
6768671        5911 2022-11-01 06:45:18  2022-11-01 06:47:36           236
6768672        5912 2022-11-01 06:54:24  2022-11-01 07:02:58           236
6768673        5920 2022-11-01 07:00:22  2022-11-01 07:17:25           236
6768674        5934 2022-11-01 06:27:48  2022-11-01 06:31:43           236
6768675        5956 2022-11-01 06:41:42  2022-11-01 06:57:05           236
6768676        5974 2022-11-01 06:03:23  2022-11-01 06:16:39           236
6768677        5990 2022-11-01 06:59:22  2022-11-01 07:14:16           236
6768678        6019 2022-11-01 06:15:08  2022-11-01 06:19:44           236
6768679        6042 2022-11-01 06:44:38  2022-11-01 06:53:20           236
6768680        6050 2022-11-01 06:11:33  2022-11-01 06:18:11           236
6768681        6051 2022-11-01 06:27:05  2022-11-01 06:41:16           236
6768682        6056 2022-11-01 06:53:20  2022-11-01 06:56:30           236
6768683        6067 2022-11-01 06:44:43  2022-11-01 06:51:56           236
6768684        6111 2022-11-01 06:44:14  2022-11-01 06:47:04           236
6768685        6112 2022-11-01 06:50:53  2022-11-01 06:58:19           236
6768686        6126 2022-11-01 06:35:36  2022-11-01 06:49:02           236
6768687        6134 2022-11-01 06:51:02  2022-11-01 06:54:06           236
6768688        6135 2022-11-01 06:56:07  2022-11-01 07:07:09           236
6768689        6146 2022-11-01 06:50:20  2022-11-01 07:10:33           236
6768690        6149 2022-11-01 06:35:18  2022-11-01 07:13:13           236
6768691        6176 2022-11-01 06:47:19  2022-11-01 06:53:53           236
6768692        6177 2022-11-01 06:58:07  2022-11-01 07:07:28           236
6768693        6199 2022-11-01 06:16:08  2022-11-01 06:22:29           236
6768694        6252 2022-11-01 07:51:18  2022-11-02 07:07:26           236
6768695        6271 2022-11-01 06:43:00  2022-11-01 07:02:44           236
6768696        6274 2022-11-01 06:09:16  2022-11-01 06:18:04           236
6768697        6284 2022-11-01 06:15:59  2022-11-01 06:22:52           236
6768698        6303 2022-11-01 06:50:54  2022-11-01 07:00:54           236
6768699        6341 2022-11-01 06:48:38  2022-11-01 06:55:27           236
6768700        6342 2022-11-01 06:58:08  2022-11-01 07:45:45           236
6768701        6415 2022-11-01 06:57:05  2022-11-01 07:03:59           236
6768702        6416 2022-11-01 06:04:55  2022-11-01 06:10:05           236
6768703        6435 2022-11-01 06:55:32  2022-11-01 07:06:20           236
6768704        6443 2022-11-01 06:40:21  2022-11-01 06:49:10           236
6768705        6453 2022-11-01 06:45:24  2022-11-01 06:55:08           236
6768706        6464 2022-11-01 06:56:38  2022-11-01 07:03:06           236
6768707        6470 2022-11-01 06:38:47  2022-11-01 07:09:14           236
6768708        6576 2022-11-01 06:08:13  2022-11-01 06:14:13           236
6768709        6614 2022-11-01 06:48:47  2022-11-01 06:53:09           236
6768710        6615 2022-11-01 06:27:38  2022-11-01 06:46:36           236
6768711        6631 2022-11-01 06:47:43  2022-11-01 07:07:13           236
6768712        6653 2022-11-01 06:44:25  2022-11-01 07:27:25           236
6768713        6688 2022-11-01 06:44:13  2022-11-01 06:51:55           236
6768714        6720 2022-11-01 06:59:05  2022-11-01 07:11:25           236
6768715        6740 2022-11-01 06:33:12  2022-11-01 06:43:49           236
6768716        6759 2022-11-01 06:49:42  2022-11-01 06:55:45           236
6768717        6797 2022-11-01 06:31:29  2022-11-01 06:52:51           236
6768718        6804 2022-11-01 06:49:04  2022-11-01 06:50:54           236
6768719        6805 2022-11-01 06:56:34  2022-11-01 07:20:39           236
6768720        6834 2022-11-01 06:22:53  2022-11-01 06:32:31           236
6768721        6836 2022-11-01 06:57:00  2022-11-01 07:02:46           236
6768722        6851 2022-11-01 06:35:27  2022-11-01 06:44:32           236
6768723        6853 2022-11-01 06:58:39  2022-11-01 07:04:13           236
6768724        6889 2022-11-01 06:11:32  2022-11-01 06:15:17           236
6768725        6908 2022-11-01 06:47:16  2022-11-01 06:54:17           236
6768726        6913 2022-11-01 06:53:49  2022-11-01 07:02:56           236
6768727        6922 2022-11-01 06:33:38  2022-11-01 06:40:20           236
6768728        6943 2022-11-01 06:14:05  2022-11-01 06:20:45           236
6768729        6998 2022-11-01 06:11:58  2022-11-01 06:23:48           236
6768730        7009 2022-11-01 06:08:41  2022-11-01 06:17:41           236
6768731        7081 2022-11-01 06:41:56  2022-11-01 06:45:44           236
6768732        7082 2022-11-01 06:57:18  2022-11-01 07:04:53           236
6768733        7133 2022-11-01 06:45:29  2022-11-01 06:58:16           236
6768734        7149 2022-11-01 06:31:58  2022-11-01 06:35:47           236
6768735        7159 2022-11-01 06:52:08  2022-11-01 07:02:33           236
6768736        7183 2022-11-01 06:27:22  2022-11-01 06:43:50           236
6768737        7212 2022-11-01 06:13:02  2022-11-01 06:19:20           236
6768738        7215 2022-11-01 06:03:56  2022-11-01 06:11:18           236
6768739        7287 2022-11-01 06:47:18  2022-11-01 06:49:02           236
6768740        7288 2022-11-01 06:52:20  2022-11-01 07:08:28           236
6768741        7305 2022-11-01 06:53:13  2022-11-01 06:59:29           236
6768742        7317 2022-11-01 06:25:08  2022-11-01 06:29:54           236
6768743        7327 2022-11-01 06:36:39  2022-11-01 06:43:36           236
6768744        7328 2022-11-01 06:58:15  2022-11-01 07:16:29           236
6768745        7347 2022-11-01 06:23:29  2022-11-01 06:28:49           236
6768746        7367 2022-11-01 06:42:16  2022-11-01 07:14:25           236
6768747        7388 2022-11-01 06:48:48  2022-11-01 06:54:59           236
6768748        7400 2022-11-01 06:49:17  2022-11-01 07:00:01           236
6768749        7466 2022-11-01 06:19:42  2022-11-01 06:22:21           236
6768750        7

In [ ]:
data_manhattan